{% extends "base.html" %}
{% load static %}

{% block body %}
	<div class="container">
        {% for post in allPosts  %}
        <div class="row d-flex">
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="/blog/{{post.slug}}" class="block-20">
                        <img src="{{post.dispic}}">
						</a>
						<div class="text mt-3 float-right d-block">
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">
									<span class="mr-2">{{post.timeStamp}}</span>
									<a href="#" class="mr-2">{{post.author}}</a>
									<a href="#" class="meta-chat"><span class="icon-chat"></span>{{comments}}</a>
								</p>
							</div>
							<h3 class="heading"><a href="/blog/{{post.slug}}">{{post.title}}</a>
							</h3>
							<p>{{post.content|safe| truncatechars:200}}</p>
						</div>
					</div>
				</div>
			</div>
        {% endfor %}
			
		</div>


{% endblock body %}