{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}
{% block body %}
<section id="hero" class="s-hero target-section">

    <div class="s-hero__bg rellax" data-rellax-speed="-7"></div>

    <div class="row s-hero__content">
        <div class="column">

            <div class="s-hero__content-about">

                <h1>I'm Rida Munir.</h1>

                <h3>
                    As a <span>Graphic Designer</span>, I specialize in bringing ideas to life through visual storytelling. I specialize in creating branding posts, Instagram carousels, and eye-catching visuals that enhance your brand’s identity. Let’s bring your ideas to life.<a class="smoothscroll" href="#about">start
                        scrolling</a>
                    and learn more <a class="smoothscroll" href="#about">about me</a>.
                </h3>

                <div class="s-hero__content-social">
                
                    <a target="_blank" href="#"><i
                            class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>

            </div> <!-- end s-hero__content-about -->

        </div>
    </div> <!-- s-hero__content -->

    <div class="s-hero__scroll">
        <a href="#about" class="s-hero__scroll-link smoothscroll">
            <span class="scroll-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
                    <path
                        d="M18.707 12.707L17.293 11.293 13 15.586 13 6 11 6 11 15.586 6.707 11.293 5.293 12.707 12 19.414z">
                    </path>
                </svg>
            </span>
            <span class="scroll-text">Scroll Down</span>
        </a>
    </div> <!-- s-hero__scroll -->

</section> <!-- end s-hero -->

<!-- about
    ================================================== -->
<section id="about" class="s-about target-section">

    <div class="row">
      
        <div class="column large-9 tab-12 s-about__content">
            <h3>About Me</h3>
            <p style="text-align: justify;">
                As a BSSE (Bachelor of Science in Software Engineering) student, I have a strong foundation in software development and programming, which complements my passion for graphic design. My background in software engineering provides me with a unique perspective on design, allowing me to create visually appealing graphics that are both functional and user-friendly.<br> Now, as I dive deeper into the world of graphic design, I combine my technical skills with creativity to produce designs that not only look great but also work seamlessly in digital environments. This blend of software engineering and design helps me approach projects with a holistic understanding of both form and function.
            </p>

            <hr>

            <div class="row s-about__content-bottom">
                <div class="column w-1000-stack">
                    <h3>Contact Details</h3>

                    <p>
                        Rida Munir <br>
                        Lahore, Pakistan<br>
                        <a href="mailto:haiderhammad282@gmail.com">parishaa41@gmail.com</a>
                    </p>

                </div>
                <div class="column w-1000-stack">
                    <a target='_blank' href="#" class="btn btn--download">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
                            <path d="M12 16L16 11 13 11 13 4 11 4 11 11 8 11z"></path>
                            <path d="M20,18H4v-7H2v7c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2v-7h-2V18z"></path>
                        </svg>
                        Download CV
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- end row -->

</section> <!-- end s-about -->


<!-- resume
    ================================================== -->
<section id="resume" class="s-resume target-section">
 {% comment %} 
    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Career</h3>
        </div>
        <div class="column large-9 tab-12">
            <div class="resume-block">

                <div class="resume-block__header">
                    <h4 class="h3">Sheikh Toothpicks & Sugar</h4>
                    <p class="resume-block__header-meta">
                        <span>Web Developer</span>
                        <span class="resume-block__header-date">
                            July 2023
                        </span>
                    </p>
                </div>

                <p>
                <ul>
                    <li>Founded and operated an e-commerce platform specializing in the sale of toothpicks and sugar
                        sachets.</li>
                    <li>Designed and developed the user-friendly website, optimizing the online shopping experience for
                        customers.</li>
                    <li>Implemented secure payment gateways and streamlined the checkout process to enhance transaction
                        efficiency.</li>
                    <li> Utilized digital marketing strategies to drive traffic, resulting in a 70% increase in online
                        sales.</li>
                    <li>
                        Managed inventory, order fulfillment, and customer inquiries to ensure a seamless purchasing
                        process.</li>
                </ul>
                </p>

            </div>
            <div class="resume-block">

                <div class="resume-block__header">
                    <h4 class="h3">7 Bugs </h4>
                    <p class="resume-block__header-meta">
                        <span>Web Developer</span>
                        <span class="resume-block__header-date">
                            Sept 2022
                        </span>
                    </p>
                </div>

                <p>
                <ul>
                    <li>Founded and operated an e-commerce platform specializing in the sale of toothpicks and sugar
                        sachets.</li>
                    <li>Designed and developed the user-friendly website, optimizing the online shopping experience for
                        customers.</li>
                    <li>Implemented secure payment gateways and streamlined the checkout process to enhance transaction
                        efficiency.</li>
                    <li> Utilized digital marketing strategies to drive traffic, resulting in a 70% increase in online
                        sales.</li>
                    <li>
                        Managed inventory, order fulfillment, and customer inquiries to ensure a seamless purchasing
                        process.</li>
                </ul>
                </p>

            </div> <!-- end resume-block -->

            <div class="resume-block">

                <div class="resume-block__header">
                    <h4 class="h3">IS Garments</h4>
                    <p class="resume-block__header-meta">
                        <span>Web Developer</span>
                        <span class="resume-block__header-date">
                            July 2022
                        </span>
                    </p>
                </div>

                <p>
                <ul>
                    <li>Launched and managed an online garment boutique, offering a curated collection of
                        fashion-forward apparel.</li>
                    <li>Developed a visually appealing and responsive website, creating an immersive online shopping
                        environment.</li>
                    <li>Implemented secure payment gateways and streamlined the checkout process to enhance transaction
                        efficiency.</li>
                    <li> Managed customer relationships, addressing inquiries, handling returns, and ensuring a positive
                        shopping experience.</li>
                    <li>
                        Analyzed sales data and customer feedback to make informed decisions and continuously improve
                        the online boutique's offerings.</li>
                </ul>
                </p>

            </div> <!-- end resume-block -->
        </div>
    </div> <!-- s-resume__section -->
 {% endcomment %}

    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Education</h3>
        </div>
        <div class="column large-9 tab-12">
            <div class="resume-block">

                <div class="resume-block__header">
                    <h4 class="h3">Lahore Institute of Science & Technology</h4>
                    <p class="resume-block__header-meta">
                        <span>BS in Software Engineering</span>
                        <span class="resume-block__header-date">
                            Dec 2021 - 2025
                        </span>
                    </p>
                </div>


            </div> <!-- end resume-block -->

            <div class="resume-block">

                <div class="resume-block__header">
                    <h4 class="h3">Queen Mary College</h4>
                    <p class="resume-block__header-meta">
                        <span>FSc. Pre Engineering</span>
                        <span class="resume-block__header-date">
                            2018 - 2020
                        </span>
                    </p>
                </div>

            </div>
            <div class="resume-block">

                <div class="resume-block__header">
                    <h4 class="h3">Wapda Girls School</h4>
                    <p class="resume-block__header-meta">
                        <span>Matric</span>
                        <span class="resume-block__header-date">
                            2016 - 2018
                        </span>
                    </p>
                </div>

            </div> <!-- end resume-block -->
        </div>
    </div> <!-- s-resume__section -->


    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Skills</h3>
        </div>
        <div class="column large-9 tab-12">
            <div class="resume-block">

                <p>
                    I possess a diverse skill set that bridges both technical and creative fields. My expertise includes graphic design tools like Illustrator, and InDesign, enabling me to create visually compelling designs. <br>
                    I am also proficient in web design, UI/UX principles, and have a solid understanding of color theory, typography, and layout design, ensuring that my work is both aesthetically pleasing and functional.
                </p>

                <ul class="skill-bars-fat">
                    <li>
                        <div class="progress percent95"></div>
                        <strong>Adobe Illustrator</strong>
                    </li>
                    <li>
                        <div class="progress percent85"></div>
                        <strong>Typography</strong>
                    </li>
                    <li>
                        <div class="progress percent95"></div>
                        <strong>Color Theory</strong>
                    </li>
                    <li>
                        <div class="progress percent85"></div>
                        <strong>Illustration</strong>
                    </li>
                
                     <li>
                        <div class="progress percent85"></div>
                        <strong>Creative Thinking</strong>
                    </li>
                    <li>
                        <div class="progress percent95"></div>
                        <strong>Attention to Detail</strong>
                    </li>


                </ul>

            </div> <!-- end resume-block -->

        </div>
    </div> <!-- s-resume__section -->

</section> <!-- end s-resume -->


<!-- portfolio
    ================================================== -->
<section id="portfolio" class="s-portfolio target-section">

    <div class="row s-portfolio__header">
        <div class="column large-12">
            <h3>A Few Of My Latest Creations</h3>
        </div>
    </div>

    <div class="row collapse block-large-1-4 block-medium-1-3 block-tab-1-2 block-500-stack folio-list">

        <div class="column folio-item">
            <a href="#modal-01" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/droplet.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-02" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/lamp.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-03" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/minimalismo.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-04" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/shutterbug.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-05" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/fuji.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-06" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/skaterboy.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-07" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/rucksack.jpg'%}"  alt="">
            </a>
        </div> <!-- end folio-item -->

        <div class="column folio-item">
            <a href="#modal-08" class="folio-item__thumb">
                <img src="{%static 'images/portfolio/sanddunes.jpg'%}" alt="">
            </a>
        </div> <!-- end folio-item -->

    </div> <!-- end folio-list -->


    <!-- Modal Templates Popup
        =========================================================== -->
    <div id="modal-01" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-droplet.jpg" %}" alt="" />

        </div>
    </div> <!-- end modal -->

    <div id="modal-02" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-lamp.jpg"%}" alt="" />

        </div>
    </div> <!-- end modal -->

    <div id="modal-03" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-minimalismo.jpg"%}" alt="" />

        </div>
    </div> <!-- end modal -->

    <div id="modal-04" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-shutterbug.jpg"%}" alt="" />

        </div>
    </div> <!-- end modal -->

    <div id="modal-05" hidden>
        <div class="modal-popup">

            <img src="{% static "images/portfolio/gallery/g-fuji.jpg"%}" alt="" />

        
        </div>
    </div> <!-- end modal -->

    <div id="modal-06" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-skaterboy.jpg"%}" alt="" />

         
        </div>
    </div> <!-- end modal -->

    <div id="modal-07" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-rucksack.jpg"%}" alt="" />

        </div>
    </div> <!-- end modal -->

    <div id="modal-08" hidden>
        <div class="modal-popup">
            <img src="{% static "images/portfolio/gallery/g-sanddunes.jpg"%}" alt="" />

        </div>
    </div> <!-- end modal -->


</section> <!-- end s-portfolio -->


<!-- contact
    ================================================== -->
<section id="contact" class="s-contact target-section">

    <div class="row s-contact__header">
        <div class="column large-12">
            <h3 class="section-header-allcaps">Say Hello</h3>
        </div>
    </div>

    <div class="row s-contact__content">

        <div class="column large-7 medium-12">

            <h4 class="huge-text">
                Have a new project in mind? Let's collaborate and build something awesome.
                Let's turn that idea to an even greater product :)
            </h4>

        </div>

        <div class="column large-4 medium-12">

            <div class="row contact-infos">
                <div class="column large-12 medium-6 tab-12">
                    <div class="contact-block">
                        <h5 class="contact-block__header">
                            Email
                        </h5>
                        <p class="contact-block__content">
                            <a class="mailtoui" href="mailto:parishaa41@gmail.com">parishaa41@gmail.com</a>
                        </p>
                    </div> <!-- end contact-block -->
                </div>

                <div class="column large-12">
                    <a href="mailto:parishaa41@gmail.com" class="mailtoui btn btn--primary h-full-width">Let's
                        Talk</a>
                </div>
            </div> <!-- end contact-infos -->

        </div>
    </div> <!-- s-contact__content -->

</section> <!-- end s-contact -->
{% endblock body %}