{% extends "base.html" %}
{% load static %}
{% block body %}


	<section id="home-section" class="hero">	

				<div class="overlay"></div>
				<div class="container">
					<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end"
						data-scrollax-parent="true">
						{% comment %} <div class="one-third js-fullheight order-md-last img"
							style="background-image:url(../static/images/bg_1.png);">
                          
							<div class="overlay"></div>
						</div> {% endcomment %}
						<div class="one-forth align-items-center ftco-animate"
							data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Hello!</span>
								<h1 class="mb-4 mt-3">I'm <span>Hammad Haider</span></h1>
								<h2 class="mb-4">Full Stack Web Developer</h2>
									<p><a href="/#contact-section" class="btn btn-primary py-3 px-4">Contact me</a> <a href="/#services-section"
										class="btn btn-white btn-outline-white py-3 px-4">My Services</a></p>
							</div>
						</div>
					</div>
				</div>

	</section>

	<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						{% comment %} <div class="img d-flex align-self-stretch align-items-center"
							style="background-image:url(images/bg_1.png);">
						</div> {% endcomment %}
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<h1 class="big">About</h1>
							<h2 class="mb-4">About Me</h2>
						
							<ul class="about-info mt-4 px-md-0 px-2">
								<li class="d-flex"><span>Name:</span> <span>Hammad Haider</span></li>
								<li class="d-flex"><span>Date of birth:</span> <span>November 14, 2003</span></li>
								<li class="d-flex"><span>Address:</span> <span>Lahore, Pakistan</span></li>
								<li class="d-flex"><span>Email:</span> <span>haiderhammad282@gmail.com</span></li>
								<li class="d-flex"><span>Phone: </span> <span>+92-310-4416-475</span></li>
							</ul>
						</div>
					</div>
					<div class="counter-wrap ftco-animate d-flex mt-md-3">
						<div class="text">
							<p class="mb-4">
								<span class="number" data-number="20">0</span>
								<span>Project complete</span>
							</p>
							<p><a target="_blank" href="{%static 'cv.pdf' %}" class="btn btn-primary py-3 px-3">Download CV</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	 <section class="ftco-section ftco-no-pb" id="resume-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-10 heading-section text-center ftco-animate">
					<h1 class="big big-2">Resume</h1>
					<h2 class="mb-4">Resume</h2>
			
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="resume-wrap ftco-animate">
						<span class="date">2017-2019</span>
						<h2>Matric in Computer Science</h2>
						<span class="position">CDG Boys</span>
						<p class="mt-4"></p>
					</div>
					<div class="resume-wrap ftco-animate">
						<span class="date">2019-2021</span>
						<h2>Inter in Computer Science</h2>
						<span class="position">Superior Group Of Colleges</span>
						<p class="mt-4"></p>
					</div>
					
				</div>

				<div class="col-md-6">
				<div class="resume-wrap ftco-animate">
						<span class="date">2021-2025</span>
						<h2>Bacholers in Information Technology</h2>
						<span class="position">Lahore institute of Science & Technology</span>
						<p class="mt-4"></p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="col-md-6 text-center ftco-animate">
					<p><a target="_blank" href="{%static 'cv.pdf' %}" class="btn btn-primary py-4 px-5">Download CV</a></p>
				</div>
			</div>
		</div>
	</section> 
	<section class="ftco-section" id="skills-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Skills</h1>
					<h2 class="mb-4">My Skills</h2>
					<p>Skill is the result of hard work, dedication, and a passion for what you do.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>Python Django</h3>
						<div class="progress">
							<div class="progress-bar color-1" role="progressbar" aria-valuenow="90" aria-valuemin="0"
								aria-valuemax="100" style="width:90%">
								<span>90%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>HTML5 / CSS3</h3>
						<div class="progress">
							<div class="progress-bar color-2" role="progressbar" aria-valuenow="85" aria-valuemin="0"
								aria-valuemax="100" style="width:85%">
								<span>85%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>JavaScript</h3>
						<div class="progress">
							<div class="progress-bar color-3" role="progressbar" aria-valuenow="95" aria-valuemin="0"
								aria-valuemax="100" style="width:95%">
								<span>80%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>Bootstrap</h3>
						<div class="progress">
							<div class="progress-bar color-4" role="progressbar" aria-valuenow="90" aria-valuemin="0"
								aria-valuemax="100" style="width:90%">
								<span>90%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>WordPress</h3>
						<div class="progress">
							<div class="progress-bar color-5" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								aria-valuemax="100" style="width:70%">
								<span>70%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>React JS</h3>
						<div class="progress">
							<div class="progress-bar color-6" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								aria-valuemax="100" style="width:80%">
								<span>80%</span>
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>Git /GitHub</h3>
						<div class="progress">
							<div class="progress-bar color-6" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								aria-valuemax="100" style="width:80%">
								<span>80%</span>
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-6 animate-box">
					<div class="progress-wrap ftco-animate">
						<h3>DataBase</h3>
						<div class="progress">
							<div class="progress-bar color-6" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								aria-valuemax="100" style="width:80%">
								<span>80%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" id="services-section">
		<div class="container">
			<div class="row justify-content-center py-5 mt-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Services</h1>
					<h2 class="mb-4">Services</h2>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="" class="services-1">
						<span class="icon">
							<i class="flaticon-analysis"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Web Design</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="" class="services-1">
						<span class="icon">
							<i class="flaticon-flasks"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">UI / UX Design</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="" class="services-1">
						<span class="icon">
							<i class="flaticon-ideas"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Front End Development</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="" class="services-1">
						<span class="icon">
							<i class="flaticon-analysis"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Full Stack Web Developing</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="" class="services-1">
						<span class="icon">
							<i class="flaticon-flasks"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Wordpress</h3>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="" class="services-1">
						<span class="icon">
							<i class="flaticon-ideas"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">React Development</h3>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>


	

	{% comment %} <section class="ftco-section ftco-project" id="projects-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Projects</h1>
					<h2 class="mb-4">Our Projects</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(../static/images/project-4.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(../static/images/project-5.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(../static/images/project-1.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>

					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(../static/images/project-6.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center"
								style="background-image: url(../static/images/project-2.jpg);">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3><a href="#">Branding &amp; Illustration Design</a></h3>
									<span>Web Design</span>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center"
								style="background-image: url(../static/images/project-3.jpg);">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3><a href="#">Branding &amp; Illustration Design</a></h3>
									<span>Web Design</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> {% endcomment %}


	<section class="ftco-section" id="blog-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Blog</h1>
					<h2 class="mb-4">Our Blog</h2>

			</div>
			<div class="row d-flex">
			{% for post in allPosts %}
			
		
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="/blog/{{post.slug}}" class="block-20" style="background-image: url('{{post.dispic}}');">
						</a>
						<div class="text mt-3 float-right d-block">
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">
									<span class="mr-2">{{post.timeStamp}}</span>
									<a href="/blog/{{post.slug}}" class="mr-2">{{post.author}}</a>
								</p>
							</div>
							<h3 class="heading"><a href="/blog/{{post.slug}}">{{post.title}}</a>
							</h3>
							<p>{{post.content|safe| truncatechars:200}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>

	{% comment %} <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
		<div class="container">
			<div class="row d-md-flex align-items-center">
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="100">0</strong>
							<span>Awards</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="1200">0</strong>
							<span>Complete Projects</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="1200">0</strong>
							<span>Happy Customers</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="text">
							<strong class="number" data-number="500">0</strong>
							<span>Cups of coffee</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> {% endcomment %}

	{% comment %} <section class="ftco-section ftco-hireme img margin-top" style="background-image: url(images/bg_1.jpg)">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 ftco-animate text-center">
					<h2>I'm <span>Available</span> for freelancing</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
					<p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">Hire me</a></p>
				</div>
			</div>
		</div>
	</section> {% endcomment %}

	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Contact</h1>
					<h2 class="mb-4">Contact Me</h2>
					<p>Reach out and let's turn ideas into reality.</p>
				</div>
			</div>

			<div class="row d-flex contact-info mb-5">
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-map-signs"></span>
						</div>
						<h3 class="mb-4">Address</h3>
						<p>Lahore, Pakistan</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-phone2"></span>
						</div>
						<h3 class="mb-4">Contact Number</h3>
						<p><a href="tel:03104416475">+92 310 4416 475</a></p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-paper-plane"></span>
						</div>
						<h3 class="mb-4">Email Address</h3>
						<p><a href="mailto:haiderhammad282@gmail.com">haiderhammad282@gmail.com</a></p>
					</div>
				</div>
				 <div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-globe"></span>
						</div>
						<h3 class="mb-4">LinkedIN</h3>
						<p><a href="https://www.linkedin.com/in/hammad-haider-711a19246/">Hammad</a></p>
					</div>
				</div> 
			</div>

			<div class="row no-gutters block-9">
				<div class="col-md-6 order-md-last d-flex">
				{% csrf_token %}
					<form action="/contact" method="post" class="bg-light p-4 p-md-5 contact-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Name" name="name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Email" name="email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Subject" name="subject">
						</div>
						<div class="form-group">
							<textarea name="message" id="" cols="30" rows="7" class="form-control"
								placeholder="Message" ></textarea>
						</div>
						<div class="form-group">
						{% csrf_token %}
							<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
						</div>
					</form>

				</div>

				<div class="col-md-6 d-flex">
					{% comment %} <div class="img" style="background-image: url(../static/images/about.jpg);"></div> {% endcomment %}
				</div>
			</div>
		</div>
	</section>

      
    
{% endblock body %}
